body {
    font-family: Arial, sans-serif;
    background: url(stonesonthebeach.jpeg);
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    background-color: rgba(18, 59, 103, 0.8);
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box {
    background-color: rgba(224, 247, 250, 0.9);
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
}

.welcome-box {
    background-color: rgba(204, 231, 255, 0.9);
}

.intro-box {
    background-color: rgba(179, 229, 252, 0.9);
}

h1 {
    color: white;
}

h2 {
    color: #5025eb;
}

.about-box {
    background-color: rgba(255, 239, 213, 0.9);
    /* Light orange */
}

.burnout-box {
    background-color: rgba(255, 192, 203, 0.9);
    /* Light pink */
}

.toxic-box {
    background-color: rgba(255, 222, 173, 0.9);
    /* Navajo white */
}

.recovery-box {
    background-color: rgba(173, 216, 230, 0.9);
    /* Light blue */
}

.text-preview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.more-info {
    display: none;
    margin-top: 10px;
    color: #666;
}
.close-button {
    display: none;
    margin-top: 10px;
    background-color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
}
.close-button:hover {
    background-color: #aaa;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */}
    /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}